@model IEnumerable<WEB.MVC5.Models.MeatDish>

@{
    ViewBag.Title = "Мясные блюда";
}

<h2>Мясное блюдо</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table table-hover">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.MeatDishId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.MeatDishId })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Список обедов", "Index", "Lunches")