@model IEnumerable<WEB.MVC5.Models.User>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список зарегистрированных пользователей</h2>
<br />
<table class="table  table-hover">
    <tr class="info">
		<th>
			Фото
		</th>
        <th>
			Данные пользователя
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.isAdmin)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.isUser)
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
			@if (item.PhotoData != null)
			{
				<div class="pull-left" style="margin-right: 10px">
					<img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetPhoto", "Profile", new { item.UserId })" />
				</div>
			}
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
			@Html.DisplayFor(modelItem => item.Name)
			<br />
            @Html.DisplayFor(modelItem => item.Phone)
			<br />
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
		<td>
			@if (item.isAdmin)
			{
				<div class="text-center" style="margin-right: 10px">
					<img class="img-circle" width="30" height="30" src="~/Content/img/Yes.png" />
				</div>
			}
			else
			{
				<div class="text-center" style="margin-right: 10px">
					<img class="img-circle" width="30" height="30" src="~/Content/img/No.png" />
				</div>
			}
		</td>
		<td>
			@if (item.isUser)
			{
				<div class="text-center" style="margin-right: 10px">
					<img class="img-circle" width="30" height="30" src="~/Content/img/Yes.png" />
				</div>
			}
			else
			{
				<div class="text-center" style="margin-right: 10px">
					<img class="img-circle" width="30" height="30" src="~/Content/img/No.png" />
				</div>
			}
		</td>
        <td>
            @Html.ActionLink("Редактировать профиль", "Edit", new { id=item.UserId })
			<br />
			@Html.ActionLink("Пополнить баланс", "AddBalance", new { id=item.UserId })
			<br />
        </td>
    </tr>
}
</table>
